@using ElasticsearchCodeSearch.Client.Extensions;
@using ElasticsearchCodeSearch.Shared.Dto;

<div class="code-box">
    <div class="code-box-title">
        <strong>@Owner/@Repository</strong> - <a href="@Permalink">@Path</a>
    </div>
    <div class="code-box-content">
        @foreach (var line in HighlitedContent)
        {
                    @match.AsMarkupString();
        }
    </div>
</div>

@code {

    /// <summary>
    /// Filename.
    /// </summary>
    [Parameter]
    public required string Path { get; set; }

    /// <summary>
    /// Filename.
    /// </summary>
    [Parameter]
    public required string Filename { get; set; }

    /// <summary>
    /// Owner.
    /// </summary>
    [Parameter]
    public required string Owner { get; set; }

    /// <summary>
    /// Repository.
    /// </summary>
    [Parameter]
    public required string Repository { get; set; }

    /// <summary>
    /// Url.
    /// </summary>
    [Parameter]
    public required string Permalink { get; set; }

    /// <summary>
    /// Matches.
    /// </summary>
    [Parameter]
    public required List<HighlightedContentDto> HighlitedContent { get; set; }
}
