.code-box {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
        "code-box-title"
        "code-box-content";
    border: 1px solid #dcdcde;
    background-color: #fff;
}

    .code-box .code-box-title {
        grid-area: code-box-title;
        background-color: #fbfafd;
        border-bottom: 1px solid #dcdcde;
        padding: 10px 16px;
    }

    .code-box .code-box-content {
        grid-area: code-box-content;
        padding: 10px;
        min-height: 200px;
    }

    .code-box .code-box-content {
        display: grid;
        grid-area: code-box-content;
        grid-template-columns: auto 1fr;
        grid-template-areas:
            "code-line-number"
            "code-line-content";
    }
    
    .code-box .code-box-content .code-line-number {
        display: grid;
        grid-area: code-line-number;
    }

    .code-box .code-box-content .code-line-content {
        display: grid;
        grid-area: code-line-number;
    }

.highlight {
    border: 1px solid #888;
    padding: 1em;
    margin-bottom: 0.8em;
    background-color: #EEEEF3;
}

