@using ElasticsearchCodeSearch.Client.Extensions;

<div class="code-box">
    <div class="code-box-title">
        <a href="@Permalink">@Filename</a>
    </div>
    <div class="code-box-content">
        @foreach(var match in Matches)
        {
            match.AsMarkupString();
        }
    </div>
</div>

@code {

    /// <summary>
    /// Filename.
    /// </summary>
    [Parameter]
    public required string Filename { get; set; }

    /// <summary>
    /// Owner.
    /// </summary>
    [Parameter]
    public required string Owner { get; set; }

    /// <summary>
    /// Repository.
    /// </summary>
    [Parameter]
    public required string Repository { get; set; }

    /// <summary>
    /// Url.
    /// </summary>
    [Parameter]
    public required string Permalink { get; set; }

    /// <summary>
    /// Matches.
    /// </summary>
    [Parameter]
    public required List<string> Matches { get; set; }


}
