<div>
    <FluentNavMenu Collapsible="false" Title="Main menu">
        <FluentNavMenuLink Icon="@(new Icons.Regular.Size20.Home())" Href="/">
            <h2>Home</h2>
        </FluentNavMenuLink>

        <FluentNavMenuGroup InitiallyExpanded>
            <h2>Code Search</h2>
            <FluentNavMenuLink Href="/Search" Icon="@(new Icons.Regular.Size20.Info())" Text="Search" />
        </FluentNavMenuGroup>
    </FluentNavMenu>
</div>