.code-box {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    grid-template-areas:
        "code-box-title"
        "code-box-content";
    border: 1px solid #dcdcde;
    background-color: #fff;
}

    .code-box .code-box-title {
        grid-area: code-box-title;
        background-color: #fbfafd;
        border-bottom: 1px solid #dcdcde;
        padding: 10px 16px;
    }

    .code-box .code-box-content {
        display: grid;
        grid-area: code-box-content;
        grid-template-columns: 1fr;
        overflow: auto;
        white-space: nowrap;
        color: #333;
        font-family: "JetBrains Mono","Menlo","DejaVu Sans Mono","Liberation Mono","Consolas","Ubuntu Mono","Courier New","andale mono","lucida console",monospace;
    }

        .code-box .code-box-content .highlighted-line {
            background-color: #f8eec7 !important;
        }

        .code-box .code-box-content .code-line {
            display: grid;
            grid-template-columns: auto 1fr;
        }

            .code-box .code-box-content .code-line .code-line-number {
                display: grid;
                text-align: right;
                padding-right: 0.5rem;
                border-right: 1px solid #dcdcde;
                min-width: 4rem;
            }

            .code-box .code-box-content .code-line .code-line-content {
                display: grid;
                text-align: left;
            }
