@inherits LayoutComponentBase

<PageTitle>Elasticsearch Code Search Experiments</PageTitle>

<div class="container">
    <ErrorBoundary>
        <ChildContent>
            @Body
        </ChildContent>
        <ErrorContent Context="ex">
                <p class="error">@ex.Message</p>
        </ErrorContent>
    </ErrorBoundary>
</div>