@page "/"

<PageTitle>Elasticsearch Code Search Experiments</PageTitle>

<div class="search-box">
    <div class="row">
        <div class="d-none d-md-flex col-sm-3" />
        <div class="col-xs-12 col-md-6">
            <FluentSearch @bind-Value="query" Class="w-100" />
        </div>
        <div class="d-none d-md-flex col-sm-3" />
    </div>
</div>


@code {
    string? query = string.Empty;

}
