.search-container {
    display: grid;
    height: 100%;
    grid-template-rows: auto 1fr auto auto;
    grid-template-columns: 1fr;
    grid-template-areas:
        "search-header"
        "search-results"
        "search-paginator"
        "search-footer";
}

.search-header {
    display: grid;
    grid-area: search-header;
    grid-template-columns: minmax(auto, 900px);
    grid-template-rows: auto 1fr;
    justify-content: center;
    padding: 1rem;
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
}

    .search-header .search-title {
        color: black;
    }

.search-title {
    display: grid;
    justify-content: center;
}

.search-box {
    display: grid;
    min-width: 500px;
    justify-content: center;
    grid-template-columns: 1fr auto auto;
    grid-column-gap: 10px;
}

.search-results {
    display: grid;
    grid-area: search-results;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    grid-row-gap: 20px;
    background-color: #ffffff;
}

.search-paginator {
    display: grid;
    grid-area: search-paginator;
    min-width: 500px;
    justify-content: center;
    grid-template-columns: auto;
    grid-column-gap: 10px;
}

.search-footer {
    display: grid;
    grid-area: search-footer;
    background-color: #f7f7f7;
    border-top: 1px solid #d6d5d5;
}
