.paginator {
    display: flex;
    margin-top: 0.5rem;
    padding: 0.25rem 0;
    align-items: center;
}

.paginator-nav {
    padding: 0;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    background-color: var(--neutral-layer-1);
}
