﻿
<ul>
    <li>
        <FluentAnchor Href="/" Appearance=Appearance.Neutral>Home</FluentAnchor>
    </li>
</ul>
<h2>Code Search</h2>
<ul>
    <li>
        <FluentAnchor Href="Search" Appearance=Appearance.Neutral>Search</FluentAnchor>
    </li>
</ul>
